@tailwind components;

@layer components {
  .main-content > .landing-content {
    display: grid;
    gap: 3rem 7rem;
    grid-gap: 3rem 7rem;
  }

  @media only screen and (min-width: 768px) {
    .main-content {
      grid-template-columns: auto 1fr;
    }

    .main-content > .landing-content {
      grid-template-columns: auto 1fr;
      -ms-grid-columns: auto 1fr;
    }
  }
}